/* ==========================================================================
   MOUSE FOLLOWER - Swiss Style Adaptions
   ========================================================================== */

.mf-cursor-text {
  color: #eee;
}

.dark .mf-cursor-text {
  color: #111;
}

.mf-cursor:before {
  width: var(--mf-size);
  height: var(--mf-size);
  border-width: var(--border-w-thin);
}
